<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 layer-spacing">
      <div class="card shadow">
        <div class="card-header bg-dark text-light">
          <div id="element1"><h5><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-chevron-left cursor" routerLink="/home" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg></h5>
          </div>
          <div id="element2" tooltip="Options" placement="left"><img src="assets/images/flags/AustriaFlag.png" class="rounded flag-image-size shadow" /></div>
        </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 information-spacing">
                <owl-carousel-o [options]="customOptions3">
                  <ng-template carouselSlide>
                      <div class="slide">
                        <img src="assets/images/maps/Austria.png" class="map-images">
                      </div>
                  </ng-template>
                  <ng-template carouselSlide>
                      <div class="slide">
                        <img src="assets/images/globes/Austria.png" class="map-images rounded-circle">
                      </div>
                  </ng-template>
                </owl-carousel-o>
              </div>
              <div class="col-md-4 space">
                <hr />
                <h5 class="text-center">Austria</h5>
                <hr />
                <table>
                  <tr>
                    <td class="member-profile-title">
                      Population:
                    </td>
                    <td class="member-profile-text">
                      8,902,600
                    </td>
                  </tr>
                  <tr>
                    <td class="member-profile-title">
                      Languages:
                    </td>
                    <td class="member-profile-text">
                      German
                    </td>
                  </tr>
                  <tr>
                    <td class="member-profile-title">
                      Capital:
                    </td>
                    <td class="member-profile-text">
                      Vienna
                    </td>
                  </tr>
                  <tr>
                    <td class="member-profile-title">
                      Currency:
                    </td>
                    <td class="member-profile-text">
                      Euro (EUR)
                    </td>
                  </tr>
                  <tr>
                    <td class="member-profile-title">
                      Anthem:
                    </td>
                    <td class="member-profile-text">
                      <audio id="player" src="/assets/anthems/Austria.mp3" type="audio/mpeg"></audio>
                      Bundeshymne der Republik Österreich
                        <a class="cursor" onclick="document.getElementById('player').play()"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-play" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                          </svg>
                        </a>/
                        <a class="cursor" onclick="document.getElementById('player').pause()"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pause" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
                          </svg>
                        </a>
                    </td>
                  </tr>
                </table>
                <hr />
              </div>
              <div class="col-md-4 information-spacing">
                <owl-carousel-o [options]="customOptions2">
                  <ng-template carouselSlide>
                      <div class="slide">
                        <img src="assets/images/scenery/AustriaScenery1.png" class="rounded scenery-images">
                      </div>
                  </ng-template>
                  <ng-template carouselSlide>
                      <div class="slide scenery-images">
                        <img src="assets/images/scenery/AustriaScenery2.png" class="rounded scenery-images">
                      </div>
                  </ng-template>
                  <ng-template carouselSlide>
                      <div class="slide">
                        <img src="assets/images/scenery/AustriaScenery3.png" class="rounded scenery-images">
                      </div>
                  </ng-template>
                  <ng-template carouselSlide>
                      <div class="slide">
                        <img src="assets/images/scenery/AustriaScenery4.png" class="rounded scenery-images">
                      </div>
                  </ng-template>
                  <ng-template carouselSlide>
                      <div class="slide">
                        <img src="assets/images/scenery/AustriaScenery5.png" class="rounded scenery-images">
                      </div>
                  </ng-template>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-6 layer-spacing">
      <div class="card shadow">
        <div class="card-header text-center bg-dark text-light">
          <h5 class="text-center">Tafelspitz</h5>
        </div>
        <div class="card-body">
          <img src="assets/images/dishes/Tafelspitz.png" class="dish-image-size" />
        </div>
      </div>
    </div>
    <div class="col-md-6 layer-spacing">
      <div class="card shadow">
        <div class="card-header bg-dark text-light">
          <h5 class="text-center">Let's Make It</h5>
        </div>
        <div class="card-body">
          <div class="your-centered-div">
            <iframe id="ytplayer" type="text/html" width="100%" height="300"
              src="https://www.youtube.com/embed/bjJtSPyd4vs"
              frameborder="0">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 layer-spacing">
      <div class="card shadow">
        <div class="card-header bg-dark text-light">
          <h5 class="text-center">Origins</h5>
          </div>
          <div class="card-body">
            <p class="text-justify">
              Tafelspitz is boiled veal or beef in broth, served with a mix of minced apples and horseradish.
              It is a classic dish of the Viennese cuisine and popular in all of Austria and the neighboring
              German state of Bavaria.
            <p class="text-justify">
              
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 layer-spacing">
        <div class="card shadow">
          <div class="card-header bg-dark text-light">
            <h5 class="text-center">We Will Need</h5>
          </div>
          <div class="card-body">
            <owl-carousel-o [options]="customOptions1">
              <ng-template carouselSlide>
                  <div class="slide spice-images">
                    <img src="assets/images/ingredients/lamb.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Lamb</p>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/basmatirice.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Basmati Rice</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/choppedonion.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Onion</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/juliennecarrots.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Carrots</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide">
                    <img src="assets/images/ingredients/raisins.png" class="rounded-circle spice-images">
                    <hr />
                    <p class="ingredient-text">Raisins</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/pinenuts.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Pine Nuts</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/cuminseeds.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Cumin Seeds</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/blackcardomompods.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Black Cardomom</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/greencardamom.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Green Cardomom</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/cinnamonsticks.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Cinnamon Sticks</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/corrianderseeds.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Corriander Seeds</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/corrianderpowder.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Corriander Powder</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/cloves.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Cloves</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/anise.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Anise</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/whitesugar.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">White Sugar</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/salt.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Salt</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/blackpepper.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Black Pepper</p>
                </div>
              </ng-template>
            </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 layer-spacing">
      <div class="card shadow">
        <div class="card-header bg-dark text-light">
          <h5 class="text-center">Ingredients</h5>
        </div>
        <div class="card-body">
          <p>
            Coming Soon!
          </p>
          <!--<ul class="recipe-text">
            <li>2lb Cubed Lamb</li>
            <li>2 Cups Basmati Rice</li>
            <li>2 Cups Water</li>
            <li>4 tbsp Vegetable Oil</li>
            <li>1 Large Carrot</li>
            <li>1 Medium Sweet Onion</li>
            <li>2 tbsp Pine Nuts</li>
            <li>½ Cup Raisins</li>
            <li>3 tbsp White Sugar</li>
            <li>1 tsp Cardamom Powder</li>
            <li>3 Black Cardamom Pods</li>
            <li>1 tsp Cumin Seeds</li>
            <li>1 Cinnamon stick</li>
            <li>1 tsp Anise</li>
            <li>1 tsp Cloves</li>
            <li>1 tsp Corriander seeds</li>
            <li>1 tbsp Turmeric</li>
          </ul>-->
        </div>
      </div>
    </div>
  <div class="col-md-6 layer-spacing">
    <div class="card shadow">
      <div class="card-header bg-dark text-light">
        <h5 class="text-center">Method</h5>
      </div>
      <div class="card-body">
        <P>
          Coming Soon!
        </P>
        <!--<ul class="recipe-text text-justify">
          <li>Clean the rice 4 times in a large bowl of cold water.
            Leave to soak while preparing the rest of the ingredients.
          </li>
          <li>
            Make the Palaw Masala by grinding Corriander Seeds, Black Cardamom, Cumin Seeds, Anise, Cloves,
            Black Pepper and the Cinnamon stick in a coffee grinder until powdered. Put to one side.
          </li>
          <li>Slice Carrot into julienne strips and finely
            dice the onion. Heat oil in a frying pan over medium heat. Add Carrot, Sugar and
            Cardamom Powder and stir occasionally until slightly softened. Remove with a slotted
            spoon and place on a sheet of tin foil.
          </li>
          <li>
            Add Raisins and Pine Nuts to oil and fry for 1 minute. Remove with a slotted spoon
            and add to Carrot. Wrap in a parcel and put to one side.
          </li>
          <li>
            Add Onion to pan and fry until golden and transluscent. Add Lamb, Turmeric and 1 tbsp
            of Palaw Masala and fry until sealed. Add salt and water, bring to boil then lower
            to simmer until lamb is tender. Approximately 45 minutes.
          </li>
          <li>
            Once Lamb is cooked remove from broth and put to one side. Sieve the broth
            into a large bowl. This will be used to cook the Rice.
          </li>
          <li>
            Add Sugar to a large pot and heat until melted. Add broth to the pot and bring to the boil.
            Reduce heat to a simmer, drain water from Rice and add to pot. Cover and cook on low until Rice
            is 80% cooked.
          </li>
          <li>
            Sieve Rice from the broth and layer into a caserole dish, sprinkling the rest of Palaw Masala
            between layers. Ladel the remaining broth over the Rice. Place Lamb on top of the Rice on
            one side and the parcel of Carrots, Raisins and Pine Nuts on the other side. Cover and cook
            in the oven at 350 farenheit for 15 minutes.
          </li>
          <li>
            Remove parcel and stir Lamb into the Rice. Cover the dish with Carrots, Raisins, Pine Nuts
            and serve.
          </li>
        </ul>-->
      </div>
    </div>
  </div>
  </div>
</div>
