<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <hr class="hr-style" />
          <div id="element1"><h5><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-chevron-left cursor" routerLink="/home" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg>Argentina</h5></div>
          <div id="element2" tooltip="Options" placement="left"><img src="assets/images/flags/ArgentinaFlag.png" class="rounded flag-image-size shadow" /></div>
        </div>
      </div>
      <hr class="hr-style" />
      <div class="row">
        <div class="col-md-4 text-center">
          <img src="assets/images/maps/Argentina.png" class="globe-image-size shadow rounded information-spacing" />
          <!--<img [src]="albumPic" class="rounded-circle shadow view-member-image" alt="...">-->
          <!--<img src="assets/images/seeds.jpeg" class="rounded-circle shadow view-member-image" alt="...">-->
        </div>
        <div class="col-md-4 space">
          <table>
            <tr>
              <td class="member-profile-title">
                Country:
              </td>
              <td class="member-profile-text">
                Argentina
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Population:
              </td>
              <td class="member-profile-text">
                44,938,712
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Languages:
              </td>
              <td class="member-profile-text">
                Spanish
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Capital:
              </td>
              <td class="member-profile-text">
                Buenos Aires
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Currency:
              </td>
              <td class="member-profile-text">
                Peso (ARS)
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Anthem:
              </td>
              <td class="member-profile-text">
                <audio id="player" src="/assets/anthems/Argentina.mp3" type="audio/mpeg"></audio>
                Himno Nacional Argentino
                  <a class="cursor" onclick="document.getElementById('player').play()"><svg width="1.0em" height="1.5em" viewBox="0 0 16 16" class="bi bi-play" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                    </svg>
                  </a>/
                  <a class="cursor" onclick="document.getElementById('player').pause()"><svg width="1.0em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pause" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                  </a>
              </td>
            </tr>
          </table>
          <hr />
        </div>
        <div class="col-md-4">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block carousel-image rounded" src="/assets/images/scenery/ArgentinaScenery1.jpeg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block carousel-image rounded" src="/assets/images/scenery/ArgentinaScenery2.jpeg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block carousel-image rounded" src="/assets/images/scenery/ArgentinaScenery3.jpeg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block carousel-image rounded" src="/assets/images/scenery/ArgentinaScenery4.jpeg" alt="Fourth slide">
              </div>
              <div class="carousel-item">
                <img class="d-block carousel-image rounded" src="/assets/images/scenery/ArgentinaScenery5.jpeg" alt="Fifth slide">
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="text-center">Asado</h5>
              <hr />
              <img src="assets/images/dishes/Asado.png" class="dish-image-size" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="text-center">How it's made</h5>
              <hr />
              <div class="your-centered-div">
                <iframe id="ytplayer" type="text/html" width="100%" height="300"
                  src="https://www.youtube.com/embed/1K-kLLHox-U"
                  frameborder="0">
                </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-12">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="text-center">Origins</h5>
              <hr />
              <p class="text-justify">
                Asado is the technique and the social event of having or attending a barbecue
                in various South American countries, where it is also a traditional event.
                An asado usually consists of beef, pork, chicken, chorizo, and morcilla
                which are cooked on a grill, called a parrilla, or an open fire.
              <p class="text-justify">
                Generally the meats are accompanied by red wine and salads.
                This meat is prepared by a person who is the assigned asado or parrillero.
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-12">
          <div class="card shadow">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <h5>Ingredients</h5>
                  <hr />
                  <ul>
                    <li>1lb cubed lamb</li>
                    <li>150 ml vegetable oil</li>
                    <li>½ large carrot, cut into julienne</li>
                    <li>75 gm sultanas</li>
                    <li>1 tbsp each slivered almonds and pistachios</li>
                    <li>¾ tsp ground cardamom</li>
                    <li>150 ml vegetable oil</li>
                    <li>500 gm basmati soaked rice</li>
                    <li>½ tsp ground cumin</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h5>Method</h5>
                  <hr />
                  <ol>
                    <li class="text-justify">Heat oil in a frying pan over medium-high heat, add carrot and fry,
                      stirring occasionally, until slightly softened (2-3 minutes). Remove with a slotted
                      spoon and transfer to a sieve to drain.
                    </li>
                    <li>
                      Add sultanas to oil, fry until they float to the surface (1-2 minutes),
                      remove with a slotted spoon and add to carrot.
                    </li>
                    <li>
                      Add nuts, sugar and ½ tsp cardamom to pan and fry, stirring,
                      until golden brown (1-2 minutes).Remove with a slotted spoon and add to carrot mixture.
                    </li>
                    <li>
                      Add onion to pan and fry, stirring occasionally,
                      until golden and tender (6-8 minutes). Set aside separately.
                    </li>
                    <li>
                      Half-fill a large saucepan with water, add 1½ tsp salt and bring to the boil over high heat. Add rice, cover and boil until rice is twice the size of the original grain (6-8 minutes), then drain in
                      a colander.
                    </li>
                    <li>
                      Return rice to saucepan, add fried onion, cumin, remaining cardamom and 2 tsp salt, add 125ml boiling water, cover with a lid and place over high heat. Cook until steam can be seen coming from beneath the lid, reduce heat to low and cook for 20 minutes. Season to taste and serve hot scattered with carrot mixture.
                    </li>
                  </ol>
              </div>
              <p class="recipe-text"></p>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
