<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="'/home'">Global Cooking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/home'">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Countries</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="'/afghanistan'">Afghanistan<img src="assets/images/flags/AfghanistanFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/albania'">Albania<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/algeria'">Algeria<img src="assets/images/flags/AlgeriaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/andorra'">Andorra<img src="assets/images/flags/AndorraFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/angola'">Angola<img src="assets/images/flags/AngolaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/antigua'">Antigua & Barbuda<img src="assets/images/flags/AntiguaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/argentina'">Argentina<img src="assets/images/flags/ArgentinaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/armenia'">Armenia<img src="assets/images/flags/ArmeniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/australia'">Australia<img src="assets/images/flags/AustraliaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/austria'">Austria<img src="assets/images/flags/AustriaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/azerbaijan'">Azerbaijan<img src="assets/images/flags/AzerbaijanFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/bahamas'">Bahamas<img src="assets/images/flags/BahamasFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/bahrain'">Bahrain<img src="assets/images/flags/BahrainFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/bangladesh'">Bangladesh<img src="assets/images/flags/BangladeshFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/barbados'">Barbados<img src="assets/images/flags/BarbadosFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/belarus'">Belarus<img src="assets/images/flags/BelarusFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/belgium'">Belgium<img src="assets/images/flags/BelgiumFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/belize'">Belize<img src="assets/images/flags/BelizeFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/benin'">Benins<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/bhutan'">Bhutan<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/bolivia'">Bolivia<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/bosnia-herzegovina'">Bosnia-Herzegovina<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/botswana'">Botswana<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/brazil'">Brazil<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/brunei'">Brunei<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/bulgaria'">Bulgaria<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/burkina-faso'">Burkina-Faso<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/burundi'">Burundi<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dishes</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="'/afghanistan'">Kabuli Palaw<img src="assets/images/flags/AfghanistanFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/albania'">Tave Kosi <img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/algeria'">Couscous</a>
          <a class="dropdown-item" [routerLink]="'/andorra'">Trinxat</a>
          <a class="dropdown-item" [routerLink]="'/angola'">Moamba De Ghalina</a>
          <a class="dropdown-item" [routerLink]="'/antigua'">Funghee & Pepperpot</a>
          <a class="dropdown-item" [routerLink]="'/argentina'">Empanadas</a>
          <a class="dropdown-item" [routerLink]="'/armenia'">Harissa</a>
          <a class="dropdown-item" [routerLink]="'/australia'">Meat Pie</a>
          <a class="dropdown-item" [routerLink]="'/austria'">Wiener Schnitzel</a>
          <a class="dropdown-item" [routerLink]="'/azerbaijan'">Yarpaq Dolmasi</a>
          <a class="dropdown-item" [routerLink]="'/bahamas'">Cracked Conch</a>
          <a class="dropdown-item" [routerLink]="'/bahrain'">Chicken Machboos</a>
          <a class="dropdown-item" [routerLink]="'/bangladesh'">Ilish Paturi</a>
          <a class="dropdown-item" [routerLink]="'/barbados'">Cou Cou</a>
          <a class="dropdown-item" [routerLink]="'/belarus'">Dranicki</a>
          <a class="dropdown-item" [routerLink]="'/belgium'">Moules Frites</a>
          <a class="dropdown-item" [routerLink]="'/belize'">Stewed Chicken &  Beans</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/desserts'">Desserts</a>
      </li>
    </ul>
  </div>
</nav>
<br />
<div class="text-center">
  <h3>Global Cooking With Confidence</h3>
</div>

<router-outlet></router-outlet>
