<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="'/home'">Global Cooking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/home'">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Countries</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="'/afghanistan'">Afghanistan</a>
          <a class="dropdown-item" [routerLink]="'/albania'">Albania</a>
          <a class="dropdown-item" [routerLink]="'/algeria'">Algeria</a>
          <a class="dropdown-item" [routerLink]="'/andorra'">Andorra</a>
          <a class="dropdown-item" [routerLink]="'/angola'">Angola</a>
          <a class="dropdown-item" [routerLink]="'/antigua'">Antigua & Barbuda</a>
          <a class="dropdown-item" [routerLink]="'/argentina'">Argentina</a>
          <a class="dropdown-item" [routerLink]="'/armenia'">Armenia</a>
          <a class="dropdown-item" [routerLink]="'/australia'">Australia</a>
          <a class="dropdown-item" [routerLink]="'/austria'">Austria</a>
          <a class="dropdown-item" [routerLink]="'/azerbaijan'">Azerbaijan</a>
          <a class="dropdown-item" [routerLink]="'/bahamas'">Bahamas</a>
          <a class="dropdown-item" [routerLink]="'/bahrain'">Bahrain</a>
          <a class="dropdown-item" [routerLink]="'/bangladesh'">Bangladesh</a>
          <a class="dropdown-item" [routerLink]="'/barbados'">Barbados</a>
          <a class="dropdown-item" [routerLink]="'/belarus'">Belarus</a>
          <a class="dropdown-item" [routerLink]="'/belgium'">Belgium</a>
          <a class="dropdown-item" [routerLink]="'/belize'">Belize</a>
          <a class="dropdown-item" [routerLink]="'/benin'">Benins</a>
          <a class="dropdown-item" [routerLink]="'/bhutan'">Bhutan</a>
          <a class="dropdown-item" [routerLink]="'/bolivia'">Bolivia</a>
          <a class="dropdown-item" [routerLink]="'/bosnia-herzegovina'">Bosnia-Herzegovina</a>
          <a class="dropdown-item" [routerLink]="'/botswana'">Botswana</a>
          <a class="dropdown-item" [routerLink]="'/brazil'">Brazil</a>
          <a class="dropdown-item" [routerLink]="'/brunei'">Brunei</a>
          <a class="dropdown-item" [routerLink]="'/bulgaria'">Bulgaria</a>
          <a class="dropdown-item" [routerLink]="'/burkina-faso'">Burkina-Faso</a>
          <a class="dropdown-item" [routerLink]="'/burundi'">Burundi</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dishes</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="'/afghanistan'">Kabuli Palaw</a>
          <a class="dropdown-item" [routerLink]="'/albania'">Tave Kosi</a>
          <a class="dropdown-item" [routerLink]="'/algeria'">Couscous</a>
          <a class="dropdown-item" [routerLink]="'/andorra'">Trinxat</a>
          <a class="dropdown-item" [routerLink]="'/angola'">Moamba De Ghalina</a>
          <a class="dropdown-item" [routerLink]="'/antigua'">Funghee & Pepperpot</a>
          <a class="dropdown-item" [routerLink]="'/argentina'">Empanadas</a>
          <a class="dropdown-item" [routerLink]="'/armenia'">Harissa</a>
          <a class="dropdown-item" [routerLink]="'/australia'">Meat Pie</a>
          <a class="dropdown-item" [routerLink]="'/austria'">Wiener Schnitzel</a>
          <a class="dropdown-item" [routerLink]="'/azerbaijan'">Yarpaq Dolmasi</a>
          <a class="dropdown-item" [routerLink]="'/bahamas'">Cracked Conch</a>
          <a class="dropdown-item" [routerLink]="'/bahrain'">Chicken Machboos</a>
          <a class="dropdown-item" [routerLink]="'/bangladesh'">Ilish Paturi</a>
          <a class="dropdown-item" [routerLink]="'/barbados'">Cou Cou</a>
          <a class="dropdown-item" [routerLink]="'/belarus'">Dranicki</a>
          <a class="dropdown-item" [routerLink]="'/belgium'">Moules Frites</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/desserts'">Desserts</a>
      </li>
    </ul>
  </div>
</nav>
<br />
<div class="text-center">
  <h3>Global Cooking With Confidence</h3>
</div>

<router-outlet></router-outlet>
