<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="'/home'">Global Cooking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/home'">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Countries</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="'/afghanistan'" data-toggle="collapse" data-target=".navbar-collapse.show">Afghanistan<img src="assets/images/flags/AfghanistanFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/albania'" data-toggle="collapse" data-target=".navbar-collapse.show">Albania<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/algeria'" data-toggle="collapse" data-target=".navbar-collapse.show">Algeria<img src="assets/images/flags/AlgeriaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/andorra'" data-toggle="collapse" data-target=".navbar-collapse.show">Andorra<img src="assets/images/flags/AndorraFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/angola'" data-toggle="collapse" data-target=".navbar-collapse.show">Angola<img src="assets/images/flags/AngolaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/antigua'" data-toggle="collapse" data-target=".navbar-collapse.show">Antigua & Barbuda<img src="assets/images/flags/AntiguaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/argentina'" data-toggle="collapse" data-target=".navbar-collapse.show">Argentina<img src="assets/images/flags/ArgentinaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/armenia'" data-toggle="collapse" data-target=".navbar-collapse.show">Armenia<img src="assets/images/flags/ArmeniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/australia'" data-toggle="collapse" data-target=".navbar-collapse.show">Australia<img src="assets/images/flags/AustraliaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/austria'" data-toggle="collapse" data-target=".navbar-collapse.show">Austria<img src="assets/images/flags/AustriaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/azerbaijan'" data-toggle="collapse" data-target=".navbar-collapse.show">Azerbaijan<img src="assets/images/flags/AzerbaijanFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/bahamas'" data-toggle="collapse" data-target=".navbar-collapse.show">Bahamas<img src="assets/images/flags/BahamasFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/bahrain'" data-toggle="collapse" data-target=".navbar-collapse.show">Bahrain<img src="assets/images/flags/BahrainFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/bangladesh'" data-toggle="collapse" data-target=".navbar-collapse.show">Bangladesh<img src="assets/images/flags/BangladeshFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/barbados'" data-toggle="collapse" data-target=".navbar-collapse.show">Barbados<img src="assets/images/flags/BarbadosFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/belarus'" data-toggle="collapse" data-target=".navbar-collapse.show">Belarus<img src="assets/images/flags/BelarusFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/belgium'" data-toggle="collapse" data-target=".navbar-collapse.show">Belgium<img src="assets/images/flags/BelgiumFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/belize'" data-toggle="collapse" data-target=".navbar-collapse.show">Belize<img src="assets/images/flags/BelizeFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/benin'" data-toggle="collapse" data-target=".navbar-collapse.show">Benins<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/bhutan'" data-toggle="collapse" data-target=".navbar-collapse.show">Bhutan<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/bolivia'" data-toggle="collapse" data-target=".navbar-collapse.show">Bolivia<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/bosnia-herzegovina'" data-toggle="collapse" data-target=".navbar-collapse.show">Bosnia-Herzegovina<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/botswana'" data-toggle="collapse" data-target=".navbar-collapse.show">Botswana<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/brazil'" data-toggle="collapse" data-target=".navbar-collapse.show">Brazil<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/brunei'" data-toggle="collapse" data-target=".navbar-collapse.show">Brunei<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/bulgaria'" data-toggle="collapse" data-target=".navbar-collapse.show">Bulgaria<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/burkina-faso'" data-toggle="collapse" data-target=".navbar-collapse.show">Burkina-Faso<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/burundi'" data-toggle="collapse" data-target=".navbar-collapse.show">Burundi<img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dishes</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="'/afghanistan'" data-toggle="collapse" data-target=".navbar-collapse.show">Kabuli Palaw<img src="assets/images/flags/AfghanistanFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/albania'" data-toggle="collapse" data-target=".navbar-collapse.show">Tave Kosi <img src="assets/images/flags/AlbaniaFlag.png" class="float-right rounded shadow dropdown-item-image"></a>
          <a class="dropdown-item" [routerLink]="'/algeria'" data-toggle="collapse" data-target=".navbar-collapse.show">Couscous</a>
          <a class="dropdown-item" [routerLink]="'/andorra'" data-toggle="collapse" data-target=".navbar-collapse.show">Trinxat</a>
          <a class="dropdown-item" [routerLink]="'/angola'" data-toggle="collapse" data-target=".navbar-collapse.show">Moamba De Ghalina</a>
          <a class="dropdown-item" [routerLink]="'/antigua'" data-toggle="collapse" data-target=".navbar-collapse.show">Funghee & Pepperpot</a>
          <a class="dropdown-item" [routerLink]="'/argentina'" data-toggle="collapse" data-target=".navbar-collapse.show">Empanadas</a>
          <a class="dropdown-item" [routerLink]="'/armenia'" data-toggle="collapse" data-target=".navbar-collapse.show">Harissa</a>
          <a class="dropdown-item" [routerLink]="'/australia'" data-toggle="collapse" data-target=".navbar-collapse.show">Meat Pie</a>
          <a class="dropdown-item" [routerLink]="'/austria'" data-toggle="collapse" data-target=".navbar-collapse.show">Wiener Schnitzel</a>
          <a class="dropdown-item" [routerLink]="'/azerbaijan'" data-toggle="collapse" data-target=".navbar-collapse.show">Yarpaq Dolmasi</a>
          <a class="dropdown-item" [routerLink]="'/bahamas'" data-toggle="collapse" data-target=".navbar-collapse.show">Cracked Conch</a>
          <a class="dropdown-item" [routerLink]="'/bahrain'" data-toggle="collapse" data-target=".navbar-collapse.show">Chicken Machboos</a>
          <a class="dropdown-item" [routerLink]="'/bangladesh'" data-toggle="collapse" data-target=".navbar-collapse.show">Ilish Paturi</a>
          <a class="dropdown-item" [routerLink]="'/barbados'" data-toggle="collapse" data-target=".navbar-collapse.show">Cou Cou</a>
          <a class="dropdown-item" [routerLink]="'/belarus'" data-toggle="collapse" data-target=".navbar-collapse.show">Dranicki</a>
          <a class="dropdown-item" [routerLink]="'/belgium'" data-toggle="collapse" data-target=".navbar-collapse.show">Moules Frites</a>
          <a class="dropdown-item" [routerLink]="'/belize'" data-toggle="collapse" data-target=".navbar-collapse.show">Stewed Chicken &  Beans</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/desserts'">Desserts</a>
      </li>
    </ul>
  </div>
</nav>
<br />
<div class="text-center">
  <h3>Global Cooking With Confidence</h3>
</div>

<router-outlet></router-outlet>
