<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 layer-spacing">
      <div class="card shadow">
        <div class="card-header bg-dark text-light">
          <div id="element1"><h5><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-chevron-left cursor" routerLink="/home" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
            </svg></h5>
          </div>
          <div id="element2" tooltip="Options" placement="left"><img src="assets/images/flags/AlbaniaFlag.png" class="rounded flag-image-size shadow" /></div>
        </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="assets/images/maps/Albania.png" class="rounded-circle globe-image-size shadow information-spacing" />
                <!--<img [src]="albumPic" class="rounded-circle shadow view-member-image" alt="...">-->
                <!--<img src="assets/images/seeds.jpeg" class="rounded-circle shadow view-member-image" alt="...">-->
              </div>
              <div class="col-md-4 space">
                <hr />
                <h5>Albania</h5>
                <hr />
                <table>
                  <tr>
                    <td class="member-profile-title">
                      Population:
                    </td>
                    <td class="member-profile-text">
                      2,845,955
                    </td>
                  </tr>
                  <tr>
                    <td class="member-profile-title">
                      Languages:
                    </td>
                    <td class="member-profile-text">
                      Albanian
                    </td>
                  </tr>
                  <tr>
                    <td class="member-profile-title">
                      Capital:
                    </td>
                    <td class="member-profile-text">
                      Tirana
                    </td>
                  </tr>
                  <tr>
                    <td class="member-profile-title">
                      Currency:
                    </td>
                    <td class="member-profile-text">
                      Lek (ALL)
                    </td>
                  </tr>
                  <tr>
                    <td class="member-profile-title">
                      Anthem:
                    </td>
                    <td class="member-profile-text">
                      <audio id="player" src="/assets/anthems/Albania.mp3" type="audio/mpeg"></audio>
                      Himni i Flamurit
                        <a class="cursor" onclick="document.getElementById('player').play()"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-play" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M10.804 8L5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                          </svg>
                        </a>/
                        <a class="cursor" onclick="document.getElementById('player').pause()"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pause" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
                          </svg>
                        </a>
                    </td>
                  </tr>
                </table>
                <hr />
              </div>
              <div class="col-md-4 information-spacing">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block carousel-image rounded" src="/assets/images/scenery/AlbaniaScenery1.jpeg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block carousel-image rounded" src="/assets/images/scenery/AlbaniaScenery2.jpeg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block carousel-image rounded" src="/assets/images/scenery/AlbaniaScenery3.jpeg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block carousel-image rounded" src="/assets/images/scenery/AlbaniaScenery4.jpeg" alt="Fourth slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block carousel-image rounded" src="/assets/images/scenery/AlbaniaScenery5.jpeg" alt="Fifth slide">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-6 layer-spacing">
      <div class="card shadow">
        <div class="card-header text-center bg-dark text-light">
          <h5 class="text-center">Tav&#235; Kosi</h5>
        </div>
        <div class="card-body">
          <img src="assets/images/dishes/TaveKosi.png" class="dish-image-size" />
        </div>
      </div>
    </div>
    <div class="col-md-6 layer-spacing">
      <div class="card shadow">
        <div class="card-header bg-dark text-light">
          <h5 class="text-center">Let's Make It</h5>
        </div>
        <div class="card-body">
          <div class="your-centered-div">
            <iframe id="ytplayer" type="text/html" width="100%" height="300"
              src="https://www.youtube.com/embed/nsoa-8vhPaA"
              frameborder="0">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 layer-spacing">
      <div class="card shadow">
        <div class="card-header bg-dark text-light">
          <h5 class="text-center">Origins</h5>
          </div>
          <div class="card-body">
            <p class="text-justify">
              Tavë kosi - soured milk casserole - is a national dish in Albania.
              It is a dish of lamb and rice baked with a mixture of yogurt and eggs
              added to a roux. It is also popular in Greece and Turkey,
              where it is known as Elbasan Tava, named after the Albanian city of Elbasan.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 layer-spacing">
        <div class="card shadow">
          <div class="card-header bg-dark text-light">
            <h5 class="text-center">We Will Need.</h5>
          </div>
          <div class="card-body">
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                  <div class="slide spice-images">
                    <img src="assets/images/ingredients/lamb.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Lamb</p>
                  </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/longgrainrice.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Long Grain Rice</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/eggs.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Eggs</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/yoghurt.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Yoghurt</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/butter.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Butter</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/garlic.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Garlic</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/whiteflour.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">White Flour</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/oregano.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Oregano</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/nutmeg.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Nutmeg</p>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div class="slide spice-images">
                    <img src="assets/images/ingredients/salt.png" class="rounded-circle">
                    <hr />
                    <p class="ingredient-text">Salt</p>
                </div>
              </ng-template>
            </owl-carousel-o>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 layer-spacing">
      <div class="card shadow">
        <div class="card-header bg-dark text-light">
          <h5 class="text-center">Ingredients</h5>
        </div>
        <div class="card-body">
          <ul class="recipe-text">
            <li>2lb Cubed Lamb</li>
            <li>1/3 Basmati Rice</li>
            <li>4 Eggs</li>
            <li>600ml Greek Yoghurt</li>
            <li>2 tbsp Plain Flour</li>
            <li>70g Butter</li>
            <li>4 Garlic Cloves</li>
            <li>1 tsp Oregano</li>
            <li>1 tsp Mint</li>
            <li>1 tbsp Olive Oil</li>
            <li>2 Cups Water</li>
            <li>1 tsp Salt</li>
            <li>1 tsp Pepper</li>
          </ul>
        </div>
      </div>
    </div>
  <div class="col-md-6 layer-spacing">
    <div class="card shadow">
      <div class="card-header bg-dark text-light">
        <h5 class="text-center">Method</h5>
      </div>
      <div class="card-body">
        <ul class="recipe-text text-justify">
          <li>
            Add Olive Oil and Butter to a Dutch Oven. Heat on the hob until butter has melted.
            Place Lamb evenly and cook until sealed.
          </li>
          <li>
            Add Garlic and Rice. Cook until Garlic is softened. Add 1 cup of water and
            simmer until rice has absorbed most of the water.
          </li>
          <li>
            Break Eggs into a large bowl and whisk. Add Yoghurt and Flour. Combine until
            creamy and smooth to create a Roux.
          </li>
          <li>
            Add Oregano and Mint to Lamb and simmer for a few more minutes
          </li>
          <li>
            Pour Roux over Lamb and cover. Place in a preheated oven for 45 minutes
            at 350 degrees farenheit.
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</div>
