<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <hr />
          <div id="element1"><h5><img src="assets/images/AfghanistanFlag.png" class="rounded flag-image-size img-fluid" />Afghanistan</h5></div>
          <div id="element2" tooltip="Options" placement="left"></div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-4 text-center">
          <img src="assets/images/Afghanistan.png" class="globe-image-size" />
          <!--<img [src]="albumPic" class="rounded-circle shadow view-member-image" alt="...">-->
          <!--<img src="assets/images/seeds.jpeg" class="rounded-circle shadow view-member-image" alt="...">-->
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-6 space">
          <table>
            <tr>
              <td class="member-profile-title">
                Country:
              </td>
              <td class="member-profile-text">
                Afghanistan
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Population:
              </td>
              <td class="member-profile-text">
                32,225,560
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Languages:
              </td>
              <td class="member-profile-text">
                Pashto, Dari
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Capital:
              </td>
              <td class="member-profile-text">
                Kabul
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Currency:
              </td>
              <td class="member-profile-text">
                Afghani (AFN)
              </td>
            </tr>
          </table>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h5>Kabuli Palaw</h5>
              <hr />
              <img src="assets/images/KabuliPalaw.jpeg" class="dish-image-size" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h5>How I made it</h5>
              <hr />
              <div class="your-centered-div">
                <iframe id="ytplayer" type="text/html" width="100%" height="300"
                  src="https://www.youtube.com/embed/eVFQnZLF70s"
                  frameborder="0">
                </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-12">
          <div class="card shadow">
            <div class="card-body">
              <h5>Recipe</h5>
              <hr />
              <p class="biography-text"></p>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
