<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          <hr class="hr-style" />
          <div id="element1"><h5>Algeria</h5></div>
          <div id="element2" tooltip="Options" placement="left"><img src="assets/images/AlgeriaFlag.png" class="rounded flag-image-size shadow" /></div>
        </div>
      </div>
      <hr class="hr-style" />
      <div class="row">
        <div class="col-md-6 text-center">
          <img src="assets/images/Algeria.png" class="shadow globe-image-size rounded-circle" />
          <!--<img [src]="albumPic" class="rounded-circle shadow view-member-image" alt="...">-->
          <!--<img src="assets/images/seeds.jpeg" class="rounded-circle shadow view-member-image" alt="...">-->
        </div>
        <div class="col-md-6 space">
          <table class="information-spacing">
            <tr>
              <td class="member-profile-title">
                Country:
              </td>
              <td class="member-profile-text">
                Algeria
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Population:
              </td>
              <td class="member-profile-text">
                43,600,000
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Languages:
              </td>
              <td class="member-profile-text">
                Arabic, Berber
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Capital:
              </td>
              <td class="member-profile-text">
                Algiers
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Currency:
              </td>
              <td class="member-profile-text">
                Dinar (DZD)
              </td>
            </tr>
            <tr>
              <td class="member-profile-title">
                Anthem:
              </td>
              <td class="member-profile-text">
                <audio id="player" src="/assets/anthems/Algeria.mp3" type="audio/mpeg"></audio>
                Kassaman
                  <a class="cursor" onclick="document.getElementById('player').play()">(Play</a>/
                  <a class="cursor" onclick="document.getElementById('player').pause()">Pause)</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="text-center">National Dish - Couscous</h5>
              <hr />
              <img src="assets/images/Couscous.jpeg" class="dish-image-size" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card shadow">
            <div class="card-body">
              <h5 class="text-center">How I made it</h5>
              <hr />
              <div class="your-centered-div">
                <iframe id="ytplayer" type="text/html" width="100%" height="300"
                  src="https://www.youtube.com/embed/MIS3HP4nBiU"
                  frameborder="0">
                </iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-12">
          <div class="card shadow">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <h5>Ingredients</h5>
                  <hr />
                  <ul>
                    <li>1lb cubed lamb</li>
                    <li>150 ml vegetable oil</li>
                    <li>½ large carrot, cut into julienne</li>
                    <li>75 gm sultanas</li>
                    <li>1 tbsp each slivered almonds and pistachios</li>
                    <li>¾ tsp ground cardamom</li>
                    <li>150 ml vegetable oil</li>
                    <li>500 gm basmati soaked rice</li>
                    <li>½ tsp ground cumin</li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h5>Method</h5>
                  <hr />
                  <ol>
                    <li class="text-justify">Heat oil in a frying pan over medium-high heat, add carrot and fry,
                      stirring occasionally, until slightly softened (2-3 minutes). Remove with a slotted
                      spoon and transfer to a sieve to drain.
                    </li>
                    <li>
                      Add sultanas to oil, fry until they float to the surface (1-2 minutes),
                      remove with a slotted spoon and add to carrot.
                    </li>
                    <li>
                      Add nuts, sugar and ½ tsp cardamom to pan and fry, stirring,
                      until golden brown (1-2 minutes).Remove with a slotted spoon and add to carrot mixture.
                    </li>
                    <li>
                      Add onion to pan and fry, stirring occasionally,
                      until golden and tender (6-8 minutes). Set aside separately.
                    </li>
                    <li>
                      Half-fill a large saucepan with water, add 1½ tsp salt and bring to the boil over high heat. Add rice, cover and boil until rice is twice the size of the original grain (6-8 minutes), then drain in
                      a colander.
                    </li>
                    <li>
                      Return rice to saucepan, add fried onion, cumin, remaining cardamom and 2 tsp salt, add 125ml boiling water, cover with a lid and place over high heat. Cook until steam can be seen coming from beneath the lid, reduce heat to low and cook for 20 minutes. Season to taste and serve hot scattered with carrot mixture.
                    </li>
                  </ol>
              </div>
              <p class="recipe-text"></p>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
