/* You can add global styles to this file, and also import other style files */
.backing {
  background-color: white;
}

.globe-image-size {
  height: 220px;
  width: 220px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.information-spacing {
  margin-top: 10px;
  text-align: center;
}

.cursor {
  cursor: pointer;
}

.dish-image-size {
  height: 308px;
  width: 100%;
  border-radius: 10px;
}

.flag-image-size {
  height: 50px;
  width: 75px;
  margin-right: 20px;
}

#element1 {
  display:inline-block;
  float: left;
  }
#element2 {
  display:inline-block;
  float: right;
}

.chevron-left-style {
  cursor: pointer;
  color: red;
  margin-right: 20px;
}

.country-text {
  padding-top: 50px;
}

ul {
  font-family: Calibri, sans-serif
}

hr {
  background-color: grey;
}

.member-profile-title {
  font-size: 12px;
  font-weight: bold;
  padding-right: 10px;
}

.member-profile-text {
  font-size: 12px;
  margin-top: 20px;
}

.carousel-image {
  width: 100%;
  height: 200px;
}

.spice-images {
  height: 100%;
  width: 100%;
  margin: 5px;
  cursor: pointer;
  text-align: center;
}

.ingredient-text {
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}

.recipe-text {
  font-size: 18px;
}

.card-spacing {
  margin: 10px;
}

.header-spacing {
}
