/* You can add global styles to this file, and also import other style files */
.globe-image-size {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.dish-image-size {
  height: 300px;
  width: 100%;
  border-radius: 10px;
}

.flag-image-size {
  height: 25px;
  width: 50px;
  margin-right: 20px;
}

#element1 {
  display:inline-block;
  float: left;
  }
#element2 {
  display:inline-block;
  float: right;
}

.chevron-left-style {
  cursor: pointer;
  color: red;
  margin-right: 20px;
}

.country-text {
  padding-top: 50px;
}

ol {
  list-style-type: none;
  counter-reset: my-awesome-counter;
  text-align: justify;
}
ol li {
  counter-increment: my-awesome-counter;
  margin: 10px 0;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  margin-right: 5px;



  color: #000;
}
