<owl-carousel-o [options]="customOptions">
	<ng-template carouselSlide>
			<div class="slide spice-images">
				<img src="assets/images/ingredients/lamb.png" class="rounded-circle">
				<hr />
				<p class="ingredient-text">Lamb</p>
			</div>
	</ng-template>
	<ng-template carouselSlide>
		<div class="slide spice-images">
				<img src="assets/images/ingredients/basmatirice.png" class="rounded-circle">
				<hr />
				<p class="ingredient-text">Basmati Rice</p>
		</div>
	</ng-template>
	<ng-template carouselSlide>
		<div class="slide spice-images">
				<img src="assets/images/ingredients/choppedonion.png" class="rounded-circle">
				<hr />
				<p class="ingredient-text">Onion</p>
		</div>
	</ng-template>
	<ng-template carouselSlide>
		<div class="slide spice-images">
				<img src="assets/images/ingredients/juliennecarrots.png" class="rounded-circle">
				<hr />
				<p class="ingredient-text">Carrots</p>
		</div>
	</ng-template>
	<ng-template carouselSlide>
		<div class="slide">
				<img src="assets/images/ingredients/raisins.png" class="rounded-circle spice-images">
				<hr />
				<p class="ingredient-text">Raisins</p>
		</div>
	</ng-template>
	<ng-template carouselSlide>
		<div class="slide spice-images">
				<img src="assets/images/ingredients/pinenuts.png" class="rounded-circle">
				<hr />
				<p class="ingredient-text">Pine Nuts</p>
		</div>
	</ng-template>
	<ng-template carouselSlide>
		<div class="slide spice-images">
				<img src="assets/images/ingredients/cuminseeds.png" class="rounded-circle">
				<hr />
				<p class="ingredient-text">Cumin Seeds</p>
		</div>
	</ng-template>
	<ng-template carouselSlide>
		<div class="slide spice-images">
				<img src="assets/images/ingredients/blackcardomompods.png" class="rounded-circle">
				<hr />
				<p class="ingredient-text">Black Cardomom</p>
		</div>
	</ng-template>
	<ng-template carouselSlide>
		<div class="slide spice-images">
				<img src="assets/images/ingredients/greencardamom.png" class="rounded-circle">
				<hr />
				<p class="ingredient-text">Green Cardomom</p>
		</div>
	</ng-template>
	<ng-template carouselSlide>
		<div class="slide spice-images">
				<img src="assets/images/ingredients/cinnamonsticks.png" class="rounded-circle">
				<hr />
				<p class="ingredient-text">Cinnamon Sticks</p>
		</div>
	</ng-template>
	<ng-template carouselSlide>
		<div class="slide spice-images">
				<img src="assets/images/ingredients/corrianderseeds.png" class="rounded-circle">
				<hr />
				<p class="ingredient-text">Corriander Seeds</p>
		</div>
	</ng-template>
	<ng-template carouselSlide>
		<div class="slide spice-images">
				<img src="assets/images/ingredients/corrianderpowder.png" class="rounded-circle">
				<hr />
				<p class="ingredient-text">Corriander Powder</p>
		</div>
	</ng-template>
	<ng-template carouselSlide>
		<div class="slide spice-images">
				<img src="assets/images/ingredients/cloves.png" class="rounded-circle">
				<hr />
				<p class="ingredient-text">Cloves</p>
		</div>
	</ng-template>
	<ng-template carouselSlide>
		<div class="slide spice-images">
				<img src="assets/images/ingredients/anise.png" class="rounded-circle">
				<hr />
				<p class="ingredient-text">Anise</p>
		</div>
	</ng-template>
	<ng-template carouselSlide>
		<div class="slide spice-images">
				<img src="assets/images/ingredients/whitesugar.png" class="rounded-circle">
				<hr />
				<p class="ingredient-text">White Sugar</p>
		</div>
	</ng-template>
	<ng-template carouselSlide>
		<div class="slide spice-images">
				<img src="assets/images/ingredients/salt.png" class="rounded-circle">
				<hr />
				<p class="ingredient-text">Salt</p>
		</div>
	</ng-template>
	<ng-template carouselSlide>
		<div class="slide spice-images">
				<img src="assets/images/ingredients/blackpepper.png" class="rounded-circle">
				<hr />
				<p class="ingredient-text">Black Pepper</p>
		</div>
	</ng-template>
</owl-carousel-o>
