<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 layer-spacing">
			<div class="card shadow">
				<div class="card-header bg-dark text-light">
					<div class="row">
						<div class="col-md-12 text-center">
							<h5>Choose a Country</h5>
						</div>
					</div>
				</div>
				<div class="card-body">
					<owl-carousel-o [options]="customOptions">
						<ng-template carouselSlide>
								<div class="slide">
									<a [routerLink]="'/afghanistan'"><img src="assets/images/flags/AfghanistanFlag.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Afghanistan</p>
								</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/albania'"><img src="assets/images/flags/AlbaniaFlag.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Albania</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/algeria'"><img src="assets/images/flags/AlgeriaFlag.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Algeria</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/andorra'"><img src="assets/images/flags/AndorraFlag.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Andorra</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/angola'"><img src="assets/images/flags/AngolaFlag.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Angola</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/antigua'"><img src="assets/images/flags/AntiguaFlag.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Antigua & Barbuda</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/argentina'"><img src="assets/images/flags/ArgentinaFlag.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Argentina</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/armenia'"><img src="assets/images/flags/ArmeniaFlag.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Armenia</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/australia'"><img src="assets/images/flags/AustraliaFlag.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Australia</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/austria'"><img src="assets/images/flags/AustriaFlag.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Austria</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/azerbaijan'"><img src="assets/images/flags/AzerbaijanFlag.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Azerbaijan</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/bahamas'"><img src="assets/images/flags/BahamasFlag.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Bahamas</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/bahrain'"><img src="assets/images/flags/BahrainFlag.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Bahrain</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/bangladesh'"><img src="assets/images/flags/BangladeshFlag.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Bangladesh</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/barbados'"><img src="assets/images/flags/BarbadosFlag.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Barbados</p>
							</div>
						</ng-template>
					</owl-carousel-o>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 layer-spacing">
			<div class="card shadow">
				<div class="card-header bg-dark text-light">
					<div class="row">
						<div class="col-md-12 text-center">
							<h5>Choose a Dish</h5>
						</div>
					</div>
				</div>
				<div class="card-body">
					<owl-carousel-o [options]="customOptions">
						<ng-template carouselSlide>
								<div class="slide">
									<a [routerLink]="'/afghanistan'"><img src="assets/images/dishes/KabuliPalaw.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Kabuli Palaw</p>
								</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/albania'"><img src="assets/images/dishes/TaveKosi.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Tav&#235; Kosi</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/algeria'"><img src="assets/images/dishes/Couscous.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Couscous</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/andorra'"><img src="assets/images/dishes/Trinxat.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Trinxat</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/angola'"><img src="assets/images/dishes/MoambaDeGalinha.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Moamba de Galinha</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/antigua'"><img src="assets/images/dishes/FungheePepperpot.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Funghee & Pepperpot</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
								<a [routerLink]="'/argentina'"><img src="assets/images/dishes/Empanadas.png" class="rounded"></a>
								<hr />
								<p class="ingredient-text">Empanadas</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
								<a [routerLink]="'/armenia'"><img src="assets/images/dishes/Harissa.png" class="rounded"></a>
								<hr />
								<p class="ingredient-text">Harissa</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
								<a [routerLink]="'/australia'"><img src="assets/images/dishes/MeatPie.png" class="rounded"></a>
								<hr />
								<p class="ingredient-text">Meat Pie</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
								<a [routerLink]="'/austria'"><img src="assets/images/dishes/WienerSchnitzel.png" class="rounded"></a>
								<hr />
								<p class="ingredient-text">Wiener Schnitzel</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
								<a [routerLink]="'/azerbaijan'"><img src="assets/images/dishes/YarpaqDolmasi.png" class="rounded"></a>
								<hr />
								<p class="ingredient-text">Yarpaq Dolmasi</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
								<a [routerLink]="'/bahamas'"><img src="assets/images/dishes/CrackedConch.png" class="rounded"></a>
								<hr />
								<p class="ingredient-text">Cracked Conch</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
								<a [routerLink]="'/bahrain'"><img src="assets/images/dishes/ChickenMachboos.png" class="rounded"></a>
								<hr />
								<p class="ingredient-text">Chicken Machboos</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
								<a [routerLink]="'/bangladesh'"><img src="assets/images/dishes/IlishPaturi.png" class="rounded"></a>
								<hr />
								<p class="ingredient-text">Ilish Paturi</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
								<a [routerLink]="'/barbados'"><img src="assets/images/dishes/CouCou.png" class="rounded"></a>
								<hr />
								<p class="ingredient-text">Cou Cou</p>
							</div>
						</ng-template>
					</owl-carousel-o>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 layer-spacing">
			<div class="card shadow">
				<div class="card-header bg-dark text-light">
					<div class="row">
						<div class="col-md-12 text-center">
							<h5>Choose a Dessert</h5>
						</div>
					</div>
				</div>
				<div class="card-body">
					<owl-carousel-o [options]="customOptions">
						<ng-template carouselSlide>
								<div class="slide">
									<a [routerLink]="'/afghanistan'"><img src="assets/images/dishes/KabuliPalaw.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Kabuli Palaw</p>
								</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/albania'"><img src="assets/images/dishes/TaveKosi.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Tave Kosi</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/algeria'"><img src="assets/images/dishes/Couscous.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Couscous</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/andorra'"><img src="assets/images/dishes/Trinxat.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Trinxat</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/angola'"><img src="assets/images/dishes/MoambaDeGalinha.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Moamba de Galinha</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
									<a [routerLink]="'/antigua'"><img src="assets/images/dishes/FungheePepperpot.png" class="rounded"></a>
									<hr />
									<p class="ingredient-text">Funghee & Pepperpot</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
								<a [routerLink]="'/argentina'"><img src="assets/images/dishes/Asado.png" class="rounded"></a>
								<hr />
								<p class="ingredient-text">Asado</p>
							</div>
						</ng-template>
						<ng-template carouselSlide>
							<div class="slide">
								<a [routerLink]="'/armenia'"><img src="assets/images/dishes/Harissa.png" class="rounded"></a>
								<hr />
								<p class="ingredient-text">Harissa</p>
							</div>
						</ng-template>
					</owl-carousel-o>
				</div>
			</div>
		</div>
	</div>
</div>
